$color-primary: #DAE5D0;
$color-secondary: #FEFBE7;
$color-three: #F9EBC8;
$color-four: #A0BCC2;
$color-light: #FEFBE7;
$color-dark: #0F0E0E;
$kuzo-sherbert: #ffad61;
$kuzo-orange: #ff5d43;
$kuzo-pink: #c2237d;
$kuzo-purp: #b077ba;

$bs-black: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin page-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

// @function set-text-color($color) {
//   @if (lightness($color) > 40%) {
//     @return #000;
//   }

//   @else {
//     @return #fff;
//   }
// }

// @mixin media-md {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }

// @mixin media-lg {
//   @media screen and (min-width: 1024px) {
//     @content;
//   }
// }

// @mixin media-xl {
//   @media screen and (min-width: 1600px) {
//     @content;
//   }
// }