.footer {
  width: 100%;

  padding: 0.5rem 1rem;

  position: fixed;
  bottom: 0;
  left: 0;

  background-color: $color-dark;

  @include flex(row, flex-end, space-between);
  z-index: 9999;

  &__link-icon {
    @include transition-ease;
    &:hover {
      transform: scale(1.15);
    }
  }
}

/* ************************* */
/* ***     DARK MODE     *** */
/* ************************* */
.light-mode {
  .footer {
    background-color: $color-light;
  }
}

/* ************************* */
/* ***   MEDIA QUERIES   *** */
/* ************************* */

@include media-xs {
  .footer {
    padding: 0.5rem 0.75rem;
    &__text {
      font-size: 0.5em;
    }
    &__link-icon {
      font-size: 1.2em;
      margin: 0 0.45rem;
    }
    &__copy {
      font-size: 1.1em;
    }
  }
}

@include media-sm {
  .footer {
    padding: 0.65rem 0.85rem;

    &__text {
      font-size: 0.55em;
    }

    &__link-icon {
      font-size: 1.4em;
      margin: 0 0.5rem;
    }
  }
}

@include media-rg {
  .footer {
    padding: 0.75rem 1rem;

    &__text {
      font-size: 0.65em;
    }

    &__link-icon {
      font-size: 1.6em;
      margin: 0 0.65rem;
    }
  }
}

@include media-md {
  .footer {
    padding: 0.75rem 1rem;

    &__text {
      font-size: 0.65em;
    }

    &__link-icon {
      font-size: 1.6em;
      margin: 0 0.65rem;
    }
  }
}

@include media-lg {
  .footer {
    padding: 1rem 1.5rem;

    &__text {
      font-size: 0.85em;
    }

    &__link-icon {
      font-size: 2em;
      margin: 0 1rem;
    }
  }
}

@include media-xl {
  .footer {
    padding: 1.5rem;

    &__text {
      font-size: 1em;
    }

    &__link-icon {
      font-size: 2.5em;
      margin: 0 1.25rem;
    }
  }
}
