.section {
  @include flex(column, center, center);
  
  &__title {
    font-family: 'Orbitron', 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
  }
  
  &__subtitle {
    font-size: 1.25em;
    font-weight: 500;
  }

  &__text {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.05em;
  }

  &__next {
    background-color: $color-light;
  }
}

.dark-mode {
  .section__next {
    background-color: $color-dark;
  
  }
}

/* ***************************** */
/* ***     MEDIA QUERIES     *** */
/* ***************************** */
@include media-xs {
  .section {
    &__title {
      font-size: 1.1em;
    }
  
    &__subtitle {
      font-size: .9em;
    }
  
    &__text {
      font-size: .65em;
      // line-height: 1.05em;
    }
  }
}

@include media-sm-short {
  .section {
    &__title {
      font-size: 1.45em;
    }
  
    &__subtitle {
      font-size: 1.1em;
    }
  
    &__text {
      font-size: .75em;
    }
  }
}

@include media-sm {
  .section {
    &__title {
      font-size: 1.45em;
    }
  
    &__subtitle {
      font-size: 1.1em;
    }
  
    &__text {
      font-size: .75em;
    }
  }
}

@include media-rg {
  .section {
    &__title {
      font-size: 1.6em;
    }
    &__subtitle {
      font-size: 1.35em;
    }
    &__text {
      font-size: .85em;
    }
  }
}

@include media-md {
  .section {
    &__title {
      font-size: 2em;
    }
    &__subtitle {
      font-size: 1.6em;
    }
    &__text {
      font-size: .95em;
    }
  }
}

@include media-lg {
  .section {
    &__title {
      font-size: 2.35em;
    }
  
    &__subtitle {
      font-size: 1.85em;
    }
  
    &__text {
      font-size: 1.05em;
    }
  }
}

@include media-xl {
  .section {
    &__title {
      font-size: 2.75em;
    }
  
    &__subtitle {
      font-size: 2.1em;
    }
  
    &__text {
      font-size: 1.25em;
    }
  }
}

.underline {
  text-decoration: underline;
  font-weight: bolder;
}