.header {
  @include flex(row, center, space-between);
  width: 100%;
  
  z-index: 10;
  
  &__logo {
    border-radius: 50%;
  }

  &__right-div {
    @include flex(row, center, center);
  }
}

.nav {
  @include flex(row, center, center);

  &__list {
    @include flex(row, center, center);

    list-style: none;
  }

  &__link {
    font-weight: 300;
    @include transition-ease;

    &:hover {
      transform: translateY(-3px);
      font-weight: 500;
    }
  }
}

/* ************************************ */
/* ***   SUN MOON DARMODE TOGGLER   *** */
/* ************************************ */
.toggle-btn {
  background: $color-light;
  border: 0;
  border-width: 2px;
  border-style: solid;
  border-color: $kuzo-sherbert;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: $bs-black;
  transform: scale(.75);
}

.dark-mode {
  .toggle-btn {
    border-color: $kuzo-purp;
    background: $color-dark;
  }
}

.toggle-icon {
  display: block;
}

.toggle-sun {
  color: $kuzo-sherbert;
  transition: transform 500ms ease-out;
}

.toggle-moon {
  color: $kuzo-purp;
  transition: transform 500ms ease-out;
}

/* ***************************** */
/* ***     MEDIA QUERIES     *** */
/* ***************************** */
@include media-xs {
  .header {
    padding: .35rem .5rem;
    &__logo {
      width: 35px;
    }
  }
  .nav {
    &__link {
      font-size: .6em;
      margin: 0 4px;
    }
  }
    .toggle-btn {
      width: 31px;
      height: 31px;
    }
  
    .toggle-icon {
      font-size: 19px;
    }
  
    .toggle-sun {
      transform: translateY(-15px);
    }
  
    .toggle-moon {
      transform: translateY(-22px);
    }
  
    .toggle-on .toggle-sun {
      transform: translateY(13px);
    }
  
    .toggle-on .toggle-moon {
      transform: translateY(4px);
    }
}

@include media-sm {
  .header {
    padding: .5rem .65rem;
    letter-spacing: .25px;

    &__logo {
      width: 40px;
    }
  }

  .nav {
    margin-right: 2px;
    
    &__link {
      font-size: .75em;
      margin: 0 3px;
    }
  }

  .toggle-btn {
    width: 38px;
    height: 38px;
  }

  .toggle-icon {
    font-size: 23px;
  }

  .toggle-sun {
    transform: translateY(-17px);
  }

  .toggle-moon {
    transform: translateY(-25px);
  }

  .toggle-on .toggle-sun {
    transform: translateY(13px);
  }

  .toggle-on .toggle-moon {
    transform: translateY(6px);
  }
}

@include media-rg {
  .header {
    padding: .65rem .75rem;
    &__logo {
      width: 60px;
    }
  }

  .nav {
    margin-right: 3px;

    &__link {
      margin: 0 4px;
      font-size: .85em;
    }
  }
  .toggle-btn {
    width: 45px;
    height: 45px;
  }

  .toggle-icon {
    font-size: 29px;
  }

  .toggle-sun {
    transform: translateY(-22px);
  }

  .toggle-moon {
    transform: translateY(-40px);
  }

  .toggle-on .toggle-sun {
    transform: translateY(13px);
  }

  .toggle-on .toggle-moon {
    transform: translateY(6px);
  }
}

@include media-md {
  .header {
    padding: .75rem .95rem;
    &__logo {
      width: 75px;
    }
  }
  .nav {
    
    &__link {
      margin: 0 5px;
      font-size: 1.25em;
    }
  }
  .toggle-btn {
    width: 50px;
    height: 50px;
  }

  .toggle-icon {
    font-size: 32px;
  }

  .toggle-sun {
    transform: translateY(-25px);
  }

  .toggle-moon {
    transform: translateY(-35px);
  }

  .toggle-on .toggle-sun {
    transform: translateY(13px);
  }

  .toggle-on .toggle-moon {
    transform: translateY(7px);
  }
}

@include media-lg {
  .header {
    padding: 1rem 1.5rem;

    &__logo {
      width: 85px;
    }
  }

  .nav {
    &__link {
      font-size: 1.5em;
      margin: 0 .85rem;
    }
  }
  .toggle-btn {
    border-width: 3px;
    width: 56px;
    height: 56px;
  }

  .toggle-icon {
    font-size: 35px;
  }

  .toggle-sun {
    transform: translateY(-28px);
  }

  .toggle-moon {
    transform: translateY(-35px);
  }

  .toggle-on .toggle-sun {
    transform: translateY(18px);
  }

  .toggle-on .toggle-moon {
    transform: translateY(7px);
  }
}

@include media-xl {
  .header {
    padding: 1.5rem;
    &__logo {
      width: 100px;
    }
  }

  .nav {
    &__link {
      margin: 0 1rem;
      font-size: 1.75em;
    }
  }

  .toggle-btn {
    border-width: 4px;
    width: 65px;
    height: 65px;
  }

  .toggle-icon {
    font-size: 40px;
  }

  .toggle-sun {
    transform: translateY(-31px);
  }

  .toggle-moon {
    transform: translateY(-40px);
  }

  .toggle-on .toggle-sun {
    transform: translateY(23px);
  }

  .toggle-on .toggle-moon {
    transform: translateY(8px);
  }
}

/* ******************************* */
/* ***   ANIMATION KEYFRAMES   *** */
/* ******************************* */
@keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 1;
  }

  4% {
    opacity: 1;
  }

  5% {
    opacity: 0.2;
  }

  7% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  12% {
    opacity: .8;
  }

  14% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  18% {
    opacity: 0.4;
  }

  19% {
    opacity: 1;
  }

  23% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  28% {
    opacity: 1;
  }

  36% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  42% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  46% {
    opacity: 0.4;
  }

  47% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  53% {
    opacity: 0.6;
  }

  54% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  56% {
    opacity: 0.5;
  }

  57% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  63% {
    opacity: 0.3;
  }

  64% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  72% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  76% {
    opacity: 0;
  }

  77% {
    opacity: 1;
  }

  83% {
    opacity: 1;
  }

  85% {
    opacity: 0.7;
  }

  88% {
    opacity: 1;
  }

  94% {
    opacity: 1;
  }

  95% {
    opacity: 0.4;
  }

  97% {
    opacity: 1;
  }

  99% {
    opacity: .5;
  }

  100% {
    transform: rotate(1turn);
    opacity: 1;
  }
}