.header {
  @include flex(row, center, center);
  width: 100vw;
  height: 8vh;

  padding: 1em;

  z-index: 10;
  box-shadow: var(--bs-black);

  &__logo {
    border-radius: 50%;
    max-width: 45px;
    transition: transform 2000ms ease-in-out;

    &:hover {
      transform: scale(1.1) rotate(10turn);
    }
  }

  &__title-div {
    height: 100%;
    /* border: 1px solid aqua; */
    display: flex;
    align-items: center;
    margin-left: 1em;
    font-size: var(--fs-body);
  }

  &__title-1:hover {
    transform: scale(1.2) skew(30deg, 20deg);
  }
  
  &__title-2:hover {
    transform: scale(1.2) skew(30deg, -20deg);
  }
  
  &__title-3:hover {
    transform: scale(1.2) skew(-30deg, 20deg);
  }
}

.section__bigtext-header {
  /* color: var(--clr-light); */
  transition: transform 500ms ease-in-out;
  cursor: pointer;
}

@keyframes header-title-fade-scale {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes header-title-move1 {
  0% {
    margin: 0;
  }

  100% {
    color: var(--clr-accent);
    margin: -1.8em 0 0 0;
  }
}

@keyframes header-title-move2 {
  0% {
    margin: 0;
  }

  100% {
    margin: 0;
    color: var(--clr-accent);
  }
}

@keyframes header-title-move3 {
  0% {
    margin: 0;
  }

  100% {
    color: var(--clr-accent);
    margin: 1.8em 0 0 0;
  }
}