.header {
  @include flex(row, center, space-between);
  width: 100vw;

  padding: 1em;

  z-index: 10;
  box-shadow: var(--bs-black);
  
  &__logo {
    border-radius: 50%;
    max-width: 80px;
    @include transition-ease;
  }
}

.section__bigtext-header {
  /* color: var(--clr-light); */
  transition: transform 500ms ease-in-out;
  cursor: pointer;
}