.portfolio {
  width: 100%;
  padding: 0 0 5rem;
  
  &__container {
    width: 100%;
    &-carousel {
      // @include absolute-center;
    }
    &-grid {
      @include flex(column, center, center);
    }
  }
  
  &__title-icon-div {
    margin: 0;
    width: 100%;
    @include flex(row, center, center);
  }

  &__title-empty-div {
    opacity: 0;
  }

  &__icon-grid {
    width: fit-content;
    
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
  }
  
  &__icon-carousel {
    @include flex(row, center, center);
    border-style: solid;
    cursor: pointer;
  }
  
  &__icon-grid,
  &__icon-grid-sqr {
    border-style: solid;
    border-color: $kuzo-purp;
  }
  &__icon-grid-sqr {
      background-color: $kuzo-purp;
  }
}


/* ************************* */
/* ***     DARK MODE     *** */
/* ************************* */
.light-mode {
  .portfolio {
    &__icon-grid,
    &__icon-grid-sqr {
      border-style: solid;
      border-color: $kuzo-sherbert;
    }
    &__icon-grid-sqr {
      background-color: $kuzo-sherbert;
    }
  }
}

/* ************************* */
/* ***   MEDIA QUERIES   *** */
/* ************************* */
@include media-xs {
  .portfolio {
    margin: 0;
    &__title-icon-div {
      margin-bottom: .5em;
    }

    &__title {
      margin: 0 1rem;
    }

    &__icon-grid {
      padding: 3px;

      grid-template-columns: repeat(4, 4px);
      grid-template-rows: repeat(4, 4px);
      border-radius: 2px;
    }

    &__icon-carousel {
      padding: 6px 5.5px;
      border: 1px solid;
      border-radius: 2px;
      font-size: .65em;
      border-width: 1px;
    }

    &__icon-grid-sqr {
      width: 2px;
      height: 2px;
    }

    &__icon-grid,
    &__icon-grid-sqr {
      border-width: 1px;
    }
  }
}

@include media-sm {
  .portfolio {
    &__container {
      width: 100%;
    }

    &__title-icon-div {
      margin-bottom: .5em;
    }

    &__title {
      margin: 0 1rem;
    }

    &__icon-grid {
      padding: 4px;

      grid-template-columns: repeat(4, 5px);
      grid-template-rows: repeat(4, 5px);
      border-radius: 2px;
    }

    &__icon-carousel {
      padding: 6px 5.5px;
      border: 1px solid;
      border-radius: 2px;
      font-size: .85em;
      border-width: 1px;
    }

    &__icon-grid-sqr {
      width: 3px;
      height: 3px;
    }
    
    &__icon-grid,
    &__icon-grid-sqr {
      border-width: 1px;
    }
  }
}

@include media-sm-short {
  .portfolio {
    margin: 0;
    &__icon-grid {
      padding: 4px;

      grid-template-columns: repeat(4, 5px);
      grid-template-rows: repeat(4, 5px);
      border-radius: 2px;
    }

    &__icon-carousel {
      padding: 6px 5.5px;
      border: 1px solid;
      border-radius: 2px;
      font-size: .85em;
      border-width: 1px;
    }

    &__icon-grid-sqr {
      width: 3px;
      height: 3px;
    }

    &__icon-grid,
    &__icon-grid-sqr {
      border-width: 1px;
    }
  }
}

@include media-rg {
  .portfolio {
    &__icon-grid {
      padding: 5px;
    }

    &__icon-carousel {
      padding: 7px;
      border-radius: 2px;
      font-size: .95em;
    }
  }
}

@include media-md {
  .portfolio {
    &__icon-grid {
      padding: 5px;

      grid-template-columns: repeat(4, 6px);
      grid-template-rows: repeat(4, 6px);
      border-width: 2px;
    }

    &__icon-carousel {
      padding: 7px;
      border: 1px solid;
      border-radius: 2px;
      font-size: 1.2em;
      border-width: 2px;
    }

    &__icon-grid-sqr {
      width: 4px;
      height: 4px;
    }
  }
}

@include media-lg {
  .portfolio {
    &__icon{
      margin-left: 1rem;
    }
    &__icon-grid {
      padding: 6px;
      grid-template-columns: repeat(4, 6px);
      grid-template-rows: repeat(4, 6px);
    }

    &__icon-grid-sqr {
      width: 4px;
      height: 4px;
    }
    
    &__icon-carousel {
      padding: 9px;
      font-size: 1.15em;
    }
  }
}

@include media-lg-landscape {
  .portfolio {
    &__title-icon-div {
      margin: -1rem 0 0;
    }
  }
}

@include media-xl {
  .portfolio {
      &__title-icon-div {
        margin: 0;
      }
      &__icon-grid {
        padding: 6px;
        grid-template-columns: repeat(4, 7px);
        grid-template-rows: repeat(4, 7px);
      }
      &__icon-grid-sqr {
        width: 5px;
        height: 5px;
      }
      &__icon-carousel {
        // padding: 10px;
        font-size: 1.35em;
      }
    }
}
