.contact {
  width: 90%;
  max-width: 1000px;
  @include absolute-center;
  min-height: 70%;
  z-index: 1;

  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-color: $color-light;

  @include box-shadow($bs-dark);
  &__title {
    text-align: center;
  }
  &__form {
    @include flex(column, center, center);
    max-width: 500px;
    background-color: rgba($color-light, .75);
    &-label {
      @include flex(column, flex-start, center);
      width: 100%;
      &:active,
      &:focus {
        border: none;
        appearance: none;
      }
    }
    &-el {
      margin: 5px 0 10px;
    }
  }
  
  
  &__input,
  &__text-area {
    width: 100%;
    padding: .25rem;
    font-family: 'Orbitron', monospace, sans-serif;
  }
  
  &__text-area {
    max-width: 100%;
    min-width: 100%;
    padding: .25rem;
    min-height: 5rem;
  }
  
  &__submit {
    font-weight: bolder;
    color: $color-light;
    background-color: $kuzo-sherbert;
    border: none;
    border-radius: 2px;

    cursor: pointer;
  }
}

.thankyou {
  width: fit-content;
  max-width: 75%;
  padding: 2rem .5rem;
  background-color: rgba($color-light, .75);

  &__text {
    margin: .5rem 0;
    text-align: center;
    width: 80%;

    &:nth-child(2) {
      margin-bottom: 2rem;
    }
  }
}

/* ************************* */
/* ***     DARK MODE     *** */
/* ************************* */
.dark-mode {
  .contact { 
    @include box-shadow($bs-purp);
    &__form {
      background-color: rgba($color-dark, .75);
    }
    &__submit {
      color: $color-dark;
      background-color: $kuzo-purp;
    }
  }

  .thankyou {
    background-color: rgba($color-dark, .75);
  }
}

/* ************************* */
/* ***   MEDIA QUERIES   *** */
/* ************************* */
@include media-xs {
  .contact {
    max-height: 55%;
    &__title {
      margin-bottom: .5rem;
      font-size: .8em;
    }
    &__form {
      width: 70%;
      padding: .5rem 1rem;
      &-label {
        font-size: .75em;
        padding: 2px 5px;
        &:active,
        &:focus {
          border: none;
          appearance: none;
        }
      }
      &-el {
        margin: 2px 0 5px;
      }
    }

    &__input,
    &__text-area {
      font-size: .6em;
    }

    &__text-area {
      min-height: 1rem;
    }

    &__submit {
      font-size: .7em;
      margin: .25rem 0;
      padding: .4rem .75rem;
    }
  }
}

@include media-sm {
  .contact {
    &__title {
      margin-bottom: 1rem;
      font-size: 1em;
    }

    &__form {
      width: 80%;
      max-width: 265px;
      padding: 1rem;

      &-label {
        font-size: .9em;
        padding: 2px 5px;

        &:active,
        &:focus {
          border: none;
          appearance: none;
        }
      }
      &-el {
        margin: 5px 0 10px;
      }
    }

    &__input,
    &__text-area {
      font-size: .75em;
    }

    &__text-area {
      min-height: 5rem;
    }

    &__submit {
      font-size: .95em;
      margin: 1rem 0;
      padding: .5rem 1rem;
    }
  }
}

@include media-sm-short {
  .contact {
    &__title {
      margin-bottom: 1rem;
      font-size: .9em;
    }

    &__form {
      width: 80%;
      max-width: 265px;

      &-label {
        font-size: .75em;
        padding: 2px 5px;

        &:active,
        &:focus {
          border: none;
          appearance: none;
        }
      }

      &-el {
        margin: 5px 0 10px;
      }
    }

    &__input,
    &__text-area {
      font-size: .75em;
    }

    &__text-area {
      min-height: 3rem;
    }

    &__submit {
      font-size: .85em;
      margin: 1rem 0;
      padding: .5rem 1rem;
    }
  }
}

@include media-rg {
  .contact {
    &__title {
      font-size: 1.2em;
    }

    &__form {
      max-width: 290px;

      &-label {
        font-size: 1em;
        padding: 4px 5px;

        &:active,
        &:focus {
          border: none;
          appearance: none;
        }
      }

      &-el {
        margin: 5px 0 10px;
      }
    }

    &__input,
    &__text-area {
      font-size: .75em;
    }

    &__text-area {
      min-height: 5rem;
    }

    &__submit {
      font-size: 1em;
      margin: 1.5rem 0;
      padding: .75rem 1.5rem;
    }
  }
}

@include media-md {
  .contact {
    &__title {
      font-size: 1.3em;
    }

    &__form {
      max-width: 350px;

      &-label {
        font-size: 1.15em;
        padding: 4px 5px;

        &:active,
        &:focus {
          border: none;
          appearance: none;
        }
      }

      &-el {
        margin: 5px 0 10px;
      }
    }

    &__input,
    &__text-area {
      font-size: .75em;
    }

    &__text-area {
      min-height: 7rem;
    }

    &__submit {
      font-size: 1em;
      margin: 1.5rem 0;
      padding: .75rem 1.5rem;
    }
  }
}

// @include media-md-landscape {}

@include media-lg {
  .contact {
    &__title {
      font-size: 1.4em;
    }

    &__form {
      max-width: 475px;

      &-label {
        font-size: 1.3em;
        padding: 4px 5px;

        &:active,
        &:focus {
          border: none;
          appearance: none;
        }
      }

      &-el {
        margin: 5px 0 10px;
      }
    }

    &__input,
    &__text-area {
      font-size: .9em;
    }

    &__text-area {
      min-height: 9rem;
    }

    &__submit {
      font-size: 1.15em;
      margin: 1.5rem 0;
      padding: .75rem 1.5rem;
    }
  }
}

@include media-lg-landscape {
  .contact {
    width: 65%;
    max-width: 800px;
      &__title {
        font-size: 1.3em;
      }
    
      &__form {
        max-width: 400px;
    
        &-label {
          font-size: 1.15em;
          padding: 4px 5px;
    
          &:active,
          &:focus {
            border: none;
            appearance: none;
          }
        }
    
        &-el {
          margin: 5px 0 10px;
        }
      }
    
      &__text-area {
        min-height: 7rem;
      }
    
      &__submit {
        font-size: 1em;
        margin: 1.5rem 0;
        padding: .75rem 1.5rem;
      }
  }
}

@include media-xl {
  .contact {
    max-width: 1000px;
  }
}
