.about {
  width: 85%;

  margin: 0 auto;
  padding: 0 0 4rem;

  letter-spacing: 1.1px;
  text-align: center;

  &__about-div {
    max-width: 650px;
  }

  &__title {
    margin: 0 0 1rem;
  }

  &__text {
    margin: 0.5rem 0;
    line-height: 1.4rem;
  }
}

.section__toolbox {
  width: 95%;
  max-width: 1350px;

  margin: 1rem auto 0;
  padding: 0;
}

.toolbox-div {
  max-width: 100%;
  margin: 1rem auto;
  @include flex(row, center, space-evenly);
  flex-wrap: wrap;
}

.stack-icon-div {
  opacity: 0.85;
  margin: 7px 0;

  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }
}

$stack-icon-sm: 30px;

.stack-icon {
  width: $stack-icon-sm;
  height: $stack-icon-sm;
  margin: 0.5rem;
}

// .next-icon,
.special-icon {
  width: $stack-icon-sm;
  height: $stack-icon-sm;
  margin: 0.5rem 0rem;
  padding: 5px;
  background-color: $color-light;
  border-radius: 2px;
}

/* ************************* */
/* ***     DARK MODE     *** */
/* ************************* */
.light-mode {
  .about {
    &__nav-link-active {
      border-color: $kuzo-sherbert;
      color: $color-light;
      background-color: $kuzo-sherbert;
    }

    &__btn-text {
      color: darken($kuzo-sherbert, 30%);
      font-weight: bolder;
    }
  }

  .sample-btn {
    background-color: darken($kuzo-sherbert, 30%);
    @include box-shadow($bs-sherbert);

    &:active {
      .sample-btn-in {
        background-color: darken($kuzo-sherbert, 5%);
      }
    }

    &-in {
      background-color: $kuzo-sherbert;
      @include bs-inset($color-light, 60%, 90%);
    }
  }
}

/* ************************* */
/* ***   MEDIA QUERIES   *** */
/* ************************* */
@include media-xs {
  .about {
    &__blurb {
      padding: 2rem;
    }

    &__nav {
      margin: 1rem auto -2px 0;

      &-link {
        padding: 4px 7px;
      }
    }

    &__starter {
      padding: 4rem 0 2.5rem;
    }
  }

  .stack-icon-div {
    width: 50px;
  }
}

@include media-sm {
  .stack-icon-div {
    width: 70px;
  }
}

@include media-rg {
  .about {
    padding: 0 0 5rem;
  }

  .stack-icon-div {
    width: 80px;
  }

  $stack-icon-rg: 40px;

  .stack-icon {
    width: $stack-icon-rg;
    height: $stack-icon-rg;
    margin: 0.65rem;
  }

  .special-icon {
    width: $stack-icon-rg;
    height: $stack-icon-rg;
    padding: 3px;
  }
}

@include media-md {
  .about {
    padding: 0 0 6rem;
  }

  .stack-icon-div {
    width: 90px;
  }

  $stack-icon-md: 48px;

  .stack-icon {
    width: $stack-icon-md;
    height: $stack-icon-md;
    margin: 0.75rem;
  }

  .special-icon {
    width: $stack-icon-md;
    height: $stack-icon-md;
  }
}

@include media-lg {
  .about {
    padding: 0 0 3rem;

    &__about-div {
      max-width: 700px;
    }

    &__subpage-btn-div {
      margin: 3rem 0 1rem;
    }

    &__blurb {
      border-width: 3px;
    }

    &__nav {
      margin: 2.5rem auto -3px 0;

      &-link {
        border-width: 3px;
        padding: 5px 9px;
      }
    }
  }

  .section__toolbox {
    max-width: 800px;
  }

  .stack-icon-div {
    width: 100px;
  }

  $stack-icon-lg: 50px;

  .stack-icon {
    width: $stack-icon-lg;
    height: $stack-icon-lg;
    margin: 0.5rem;
  }

  .special-icon {
    width: $stack-icon-lg;
    height: $stack-icon-lg;
  }
}

@include media-lg-landscape {
}

@include media-xl {
  .about {
    &__blurb {
      &-text {
        font-size: 1.2em;
      }
    }
  }
}
