.portfolio {
  min-height: 100vh;
}

.work-toggles-container {
  width: 100%;
  padding: 0 2em;
  
  display: flex;
  justify-content: flex-end;
  
  border: 1px solid red;
}

.portfolio__title {
  margin-top: .75em;
  margin-bottom: 2em;
  margin-left: 1em;
}

.grid-icon-container {
  width: fit-content;
  padding: 3px;

  display: grid;
  grid-template-columns: repeat(4, 7px);
  grid-template-rows: repeat(4, 7px);
  align-items: center;
  justify-items: center;
  border-radius: 3px;
  cursor: pointer;
}

.grid-sqr {
  width: 5px;
  height: 5px;
}

.grid-icon-container,
.grid-sqr {
  border: 2px solid $kuzo-sherbert;
}

.dark-mode {
  .grid-icon-container,
  .grid-sqr {
    border: 2px solid $kuzo-purp;
  }
}
