.home {
  width: 100%;

  padding: 0 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title:first-child {
    margin-top: 0;
  }
  &__title {
    &-name {
      border-radius: 5px;
      padding: 0.5rem 0.15rem;
      background-color: $kuzo-purp;
      width: fit-content;
    }
  }

  &__subtitle-container {
    text-align: center;
  }

  &__span-name {
    font-weight: bolder;
    color: $color-dark;
  }

  &__span-fed {
    display: inline-block;
  }

  &__next {
    @include flex(column, center, center);
    border-radius: 50%;
    border-style: solid;
    border-color: $kuzo-purp;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.1);
    }
  }
}

/* ************************* */
/* ***     DARK MODE     *** */
/* ************************* */
.light-mode {
  .home {
    &__title {
      &-name {
        background-color: $kuzo-sherbert;
      }
    }

    &__span-name {
      color: $color-light;
    }

    &__next {
      border-color: $kuzo-sherbert;
      background-color: rgba($color-light, 0.5);
      &:hover,
      &:focus {
        @include box-shadow($bs-dark);
      }
    }
  }
}

/* ************************* */
/* ***   MEDIA QUERIES   *** */
/* ************************* */
@include media-xs {
  .home {
    &__title-container {
      margin: 0 auto 0.75rem;
    }

    &__title {
      margin-top: 0.25rem;
    }

    &__span-name {
      padding: 3px 1px;
      margin: 0 -0.5px;
    }

    &__span-fed {
      margin-right: 0.35rem;
    }

    &__next {
      margin: 0.75rem auto 0;
      width: 2.5rem;
      height: 2.5rem;
      border-width: 2px;
      font-size: 1.6em;

      &-link {
        font-size: 1.25em;
      }
    }
  }
}

@include media-sm {
  .home {
    &__title-container {
      margin: 0 auto 1rem;
    }

    &__title {
      margin-top: 0.3rem;
    }

    &__span-name {
      padding: 5px 1px;
    }

    &__span-fed {
      margin-right: 0.4rem;
    }

    &__next {
      margin: 1rem auto 0;
      width: 3rem;
      height: 3rem;
      font-size: 1.9em;

      &-link {
        font-size: 1.4em;
      }
    }
  }
}

@include media-rg {
  .home {
    &__title-container {
      margin: 0 auto 1.25rem;
    }

    &__title {
      margin-top: 0.4rem;
    }

    &__span-fed {
      margin-right: 0.45rem;
    }

    &__next {
      margin: 1.25rem auto 0;
      width: 3.5rem;
      height: 3.5rem;
      border-width: 2.5px;
      font-size: 2.25em;

      &-link {
        font-size: 1.7em;
      }
    }
  }
}

@include media-md {
  .home {
    &__title-container {
      margin: 0 auto 1.75rem;
    }

    &__title {
      margin-top: 0.5rem;
      &-name {
        border-radius: 5px;
        padding: 0.75rem 0.25rem;
      }
    }

    &__span-fed {
      margin-right: 0.55rem;
    }

    &__next {
      margin: 1.75rem auto 0;
      width: 4.35rem;
      height: 4.35rem;
      border-width: 3px;
      font-size: 3em;

      &-link {
        font-size: 2.15em;
      }
    }
  }
}

@include media-lg {
  .home {
    &__title-container {
      margin: 0 auto 2rem;
    }

    &__span-fed {
      margin-right: 0.55rem;
    }

    &__next {
      margin: 2rem auto 0;
      width: 5rem;
      height: 5rem;
      border-width: 4px;
      font-size: 3.5em;

      &-link {
        font-size: 2.5em;
      }
    }
  }
}

@include media-xl {
  .home {
    &__title-container {
      margin: 0 auto 2.25rem;
    }

    &__title {
      margin-top: 0.6rem;
    }

    &__span-name {
      padding: 6px 1.05px;
    }

    &__span-fed {
      margin-right: 0.75rem;
    }
  }
}
