.contact {
  width: 100%;
  max-width: 800px;
  height: calc(100% - 7rem);

  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 4rem);
  
  z-index: 1;

  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  box-shadow: inset 0 0 10px 20px $color-light;

  // @include transition-ease;

  &__title {
    margin-bottom: 2rem;
  }
  
  &__form {
    @include flex(column, center, center);
    width: 80%;
    max-width: 300px;
  
    padding: 1rem;
    
    background-color: rgba($color-light, .75);
  }
  
  &__form-label {
    @include flex(column, flex-start, center);
    width: 100%;
  
    padding: 2px 5px;
    
    &:active,
    &:focus {
      border: none;
      appearance: none;
    }
  }
  
  &__form-el {
    margin: 5px 0 10px;
  }
  
  &__input,
  &__text-area {
    width: 100%;
    font-size: .75em;
    padding: .25rem;
  }
  
  &__text-area {
    max-width: 100%;
    min-width: 100%;
    font-size: .75em;
    padding: .25rem;
    min-height: 5rem;
  }
  
  &__submit {
    margin: 1rem 0;
    padding: .5rem 1rem;
  
    font-weight: bolder;
  
    color: $color-light;
    background-color: $kuzo-sherbert;
    border: none;
    border-radius: 2px;

    cursor: pointer;
  }
}

.thankyou {
  width: fit-content;
  max-width: 75%;
  padding: 2rem .5rem;
  background-color: rgba($color-light, .75);

  &__text {
    margin: .5rem 0;
    text-align: center;
    width: 80%;

    &:nth-child(2) {
      margin-bottom: 2rem;
    }
  }
}

.dark-mode {
  .contact { 
    box-shadow: inset 0 0 10px 20px $color-dark;
  }
  
  .contact__form {
    background-color: rgba($color-dark, .75);
  }

  .contact__submit {
    color: $color-dark;
    background-color: $kuzo-purp;
  }

  .thankyou {
    background-color: rgba($color-dark, .75);
  }
}
