.home {
  // @include flex(column, center, center);
  width: 100%;
  // height: 90%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

  padding: 0 1rem;
  
  &__title-container {
    margin: 0 auto 1rem;
  }

  &__title {
    margin-top: .5rem;
  }

  &__subtitle-container {
    text-align: center;
  }

  &__subtitle-welcome {
  }
  
  &__title-title {
    font-weight: bolder;
  }


  &__span-name {
    display: inline-block;
    font-weight: bolder;
    color: $color-light;
    background-color: $kuzo-sherbert;
    line-height: calc(1rem+5px);
    padding: 1px;
    margin: 0 -1px;

    // @include transition-ease;
  }

  &__span-fed {
    display: inline-block;
    margin-right: .75rem;
  }

  &__next {
    @include flex(column, center, center);
    margin: 1rem auto 0;
    width: 3rem;
    height: 3rem;
  
    border-radius: 50%;
    border: 3px solid;
    border-color: $kuzo-sherbert;
    font-size: 1.75em;
    box-shadow: $bs-black;
    cursor: pointer;
    
    &:hover {
      transform: scale(1.1);
    }
  }
}

.dark-mode {
  .home__span-name {
    color: $color-dark;
    background-color: $kuzo-purp;
  }

  .home__next {
    border-color: $kuzo-purp;
  }
}