.contact {
  width: 100%;
  max-width: 800px;
  height: calc(100% - 5rem);

  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 4rem);
  
  z-index: 1;

  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  box-shadow: inset 0 0 10px 20px rgba($color-light, 1);

  @include transition-ease;
}

.contact__title {
  margin-bottom: 2rem;
}

.contact__form {
  @include flex(column, center, center);
  width: 60%;
  max-width: 300px;

  padding: 1rem;
  
  background-color: rgba($color-light, .9);
}

.contact__form-label {
  @include flex(column, flex-start, center);
  width: 100%;

  padding: 2px 5px;
  
  &:active,
  &:focus {
    border: none;
    appearance: none;
  }
}

.contact__form-el {
  margin: 5px 0 10px;
}

.contact__input,
.contact__text-area {
  width: 100%;
  font-size: .75em;
}

.contact__submit {
  margin: 1rem 0;
  padding: 4px 12px;

  font-weight: bolder;

  color: rgba($color-light, .9);
  background-color: $kuzo-sherbert;
  border: none;
  border-radius: 2px;
}

.dark-mode {
  .contact { 
    box-shadow: inset 0 0 10px 20px rgba($color-dark, 1);
  }
  
  .contact__form {
    background-color: rgba($color-dark, .9);
  }

  .contact__submit {
    color: rgba($color-dark, .9);
    background-color: $kuzo-purp;
  }
}
