.about {
  width: 100%;
  max-width: 700px;

  margin: 0 auto;
  padding: 1rem 2rem 2rem;

  letter-spacing: 1.1px;
  text-align: center;

  &__blurb-div {
    @include flex(column, center, center);
  }
  
  &__blurb-img {
    max-width: 200px;
    border-radius: 3px;
  }
  
  &__blurb-text-div {
    width: 85%;
    max-width: 450px;
    margin: .75rem 0 0;
  }
  
  &__blurb-text {
    margin: .75rem 0;
    font-size: smaller;
    line-height: 1.25em;
  }

  &__links-div {
    @include flex(row, center, center);
    width: 80%;
    margin: 0 auto;
  }

  &__subtitle-container {
    
  }
}

.section__toolbox {
  width: 85%;
  max-width: 450px;

  margin: 1rem auto;
  padding: 1rem 0;

  border-top: 2px solid;
  border-bottom: 2px solid;
}

.toolbox-div {
  margin: 1rem auto 0;
  padding: 0 25px;

  @include flex(row, center, space-evenly);
  flex-wrap: wrap;
}

.section__title-toolbox {
  margin-bottom: 1rem;
  text-align: left;
}

.stack-icon-div {
  @include transition-ease;
  opacity: .85;

  &:hover {
    transform: scale(1.15);
    opacity: 1;
  }
}

$about-stack-icon: 35px;

.stack-icon {
  width: $about-stack-icon;
  margin: .5rem;
  
}

// .next-icon,
.special-icon {
  width: $about-stack-icon;
  height: $about-stack-icon;
  padding: 2px;
  background-color: $color-light;
  border-radius: 2px;
}