.project-grid {
  @include flex(row, center, center);
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  
  &__img-container {
    background-color: $kuzo-sherbert;
    @include flex(column, center, center);
    object-fit: cover;
    overflow: hidden;
    border-style: solid;
    border-radius: 2px;
    @include transition-ease;
    &:hover,
    &:focus,
    &:active {
      .project-grid__img {
        transform: scale(1.1);
        opacity: .9;
      }
      .project-grid__details {
        opacity: 1;
      }
    }
  }
  
  &__img {
    width: 100%;
    transition: transform 500ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;
  }
  
  &__details {
    position: absolute;
    color: $color-light;
    background-color: rgba($kuzo-sherbert, .9);
    opacity: 0;
    border-radius: 2px;
    border-style: solid;
    @include flex(column, center, center);
    @include transition-ease;
    &-stack-text {
      font-size: smaller;
    }
    &-stack {
      @include flex(row, center, center);
      &-icon {
        &-special {
          background-color: $color-light;
        }
      }
    }
  }
  
  &__links {
    @include flex(row, center, space-evenly);
    &-link {
      text-decoration: none;
      border: none;
      color: $color-light;
      @include flex(column, center, center);
      @include transition-ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

/* ************************* */
/* ***   MEDIA QUERIES   *** */
/* ************************* */
@include media-xs {
  .project-grid {
    width: 80%;
    margin: 2% auto 15%;
    &__img-container {
      width: 90%;
      max-width: 300px;
      margin: .5rem;
      border-width: 2px;
    }

    &__details {
      padding: .75rem;
      border-width: 1px;
      &-stack-text {
        margin-top: 1rem;
      }
      &-stack {
        margin-top: .34rem;
        &-icon {
          width: 1.25rem;
          margin: 0 5px;
            &-special {
              height: 1.25rem;
            }
        }
      }
    }

    &__links {
      width: 100%;
      margin-top: .75rem;
      &-link {
        font-size: .75em;
        margin: 0 .75rem;
      }
      &-icon {
        font-size: larger;
      }
      &-text {
        font-size: larger;
      }
    }
  }
}

@include media-sm-short {}

@include media-rg {
  .project-grid {
    &__details {
      font-size: 1.1em;
      &-stack {
        margin-top: .55rem;
        &-icon {
          width: 1.5rem;
          margin: 0 5px;

          &-special {
            height: 1.5rem;
          }
        }
      }
    }

    &__links {
      margin-top: 1rem;
      &-link {
        font-size: .9em;
      }
    }
  }
}

@include media-md {
  .project-grid {
      &__details {
        font-size: 1.2em;
        &-stack-text {
          margin-top: 1.25rem;
        }
        &-stack {
          margin-top: .75rem;
  
          &-icon {
            width: 1.65rem;
            margin: 0 6px;
  
            &-special {
              height: 1.65rem;
            }
          }
        }
      }
  
      &__links {
        margin-top: 1.5rem;
  
        &-link {
          font-size: .9em;
        }
      }
    }
}

@include media-sm-landscape {
  .project-grid {
    width: 85%;
    &__img-container {
      width: 45%;
    }
    &__details {
      font-size: 1em;
    }
    &__links {
      &-link {
        font-size: .8em;
      }
    }
  }
}

@include media-lg {
  .project-grid {
    &__details {
        &-name {
          font-size: 1.1em;
        }
      }
  }
}

@include media-lg-landscape {
  .project-grid {
    width: 95%;

    &__img-container {
      width: 30%;
    }
    &__details {
      font-size: 1.1em;
    }

    &__links {
      &-link {
        font-size: .9em;
      }
    }
  }
}

@include media-xl {
  .project-grid {
    max-width: 1400px;
  }
}



/* ************************* */
/* ***     DARK MODE     *** */
/* ************************* */
.dark-mode {
  .project-grid {
    &__img-container {
      background-color: $kuzo-purp;
    }
    
    &__details {
      color: $kuzo-purp;
      background-color: rgba($color-dark, .9);
    }
    
    &__links-div {
      color: $kuzo-purp;
    }
  }
}