.project-card {
  width: 85%;
  max-width: 500px;

  padding: .5rem 1rem;
  margin: 0 1rem;

  border: 4px solid;
  border-color: $kuzo-sherbert;
  border-radius: 5px;

  background-color: $color-light;

  text-align: center;
  letter-spacing: 1px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto minmax(auto, 200px) auto;
  grid-template-areas:
    "title"
    "img"
    "text";
  transition: transform 500ms ease-in-out;
  transform: translateX(0px);
}

.dark-mode .project-card {
  background-color: transparent;
  border-color: black;
}

.project-card__title {
  grid-area: title;
  padding: .5rem 0;
}

.project-card__img-container {
  grid-area: img;
  background-color: $kuzo-sherbert;


  max-width: 175px;
  max-height: 175px;
  // max-width: 300px;
  
  margin: .5rem auto 0;
  border-radius: 5px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  object-fit: cover;
  overflow: hidden;
  @include transition-ease;
}

.dark-mode .project-card__img-container {
  background-color: $kuzo-purp;
}

.project-card__img {
  width: 100%;
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.project-card__text {
  font-size: smaller;
}

.project-card__tagline {
  grid-area: text;

  cursor: pointer;
  max-width: 95%;
  margin: 0 auto;
}

.project-card__links-title {
  margin: .75rem 0 0;
}

.project-card__links-div {
  @include flex(row, center, space-evenly);
  margin: .5rem 0 0;
}

.project-card__link {
  @include flex(column, center, center);
  text-decoration: none;
  color: inherit;
}

.project-card__link:focus {
  position: relative;
  z-index: 2;
}

.project-card__img:hover,
.project-card-link:focus .project-card-img {
  transform: scale(1.1);
  opacity: .9;
}

.project-card__stack-title {
  margin: .75rem 0 .5rem;
  width: 100%;
}

.project-card__stack-icon {
  width: 1.5rem;
  margin: 0 5px;
}

.special-pj-icon {
  height: 1.5rem;
  background-color: $color-light;
}