.project-carousel {
  // @include absolute-center;
  @include flex(column, center, center);
  margin: 1rem 0 5rem;
  width: 100%;
}

.carousel-toggle-div {
  @include flex(row, center, center);
  margin: 1rem 0 0;
}

.carousel-toggle {
  width: 3.5em;
  height: 3.5em;

  color: $kuzo-sherbert;
  background-color: $color-light;
  border: 4px solid;
  border-color: $kuzo-sherbert;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  @include transition-ease;

  &-left {
    margin-right: 1rem;
  }
  
  &-right {
    margin-left: 1rem;
  }
}

.carousel-toggle:hover,
.carousel-toggle:focus {
  transform: scale(1.05);
  color: lighter($kuzo-sherbert, 20%);
}

.carousel-toggle-icon {
  font-size: 1.5em;
}

.dark-mode {
  .carousel-toggle {
    color: $kuzo-purp;
    border-color: $kuzo-purp;
    background-color: $color-dark;
    
    &:hover,
    &:focus {
      color: lighter($kuzo-purp, 20%);
    }
  }
}