.project-card {
  min-width: 250px;
  max-width: 1000px;
  width: 85%;
  border-style: solid;
  border-color: $kuzo-sherbert;
  border-radius: 2px;
  background-color: $color-light;
  text-align: center;
  display: grid;
  @include box-shadow($bs-dark);

  &__title {
    grid-area: title;
    margin: 0 auto;
  }
  
  &__img-container {
    grid-area: img;
    background-color: $kuzo-sherbert;
    @include flex(row,center,center);
    object-fit: cover;
    overflow: hidden;
    border-style: solid;
    @include transition-ease;
    &:hover {
      @include box-shadow($bs-dark);
    }
  }
  
  &__img {
    width: 100%;
    transition: transform 500ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;
    &:hover, &:focus {
      transform: scale(1.1);
      opacity: .9;
    }
  }
  
  &__tagline {
    grid-area: tag;
  }
  
  
  &__links {
    width: 100%;
    grid-area: links;
    @include flex(column, center, space-evenly);
    &-div {
      width: 100%;
      @include flex(row, center, space-evenly);
    }
    &-link {
      @include flex(column, center, center);
      // @include transition-ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        color: lighten($kuzo-sherbert, 5);
      }
      &:focus {
        position: relative;
        z-index: 2;
      }
    }
  }
  
  &__stack {
    grid-area: stack;
    @include flex(column, center, center);
    &-icons {
      @include flex(row,center,center);
      &-icon {
        &-special {
          background-color: $color-light;
        }
      }
    }
  }
  

  
}

.dark-mode {
  .project-card {
    border-color: $kuzo-purp;
    background-color: $color-dark;
    @include box-shadow($bs-purp);

    &__img-container {
      background-color: $kuzo-purp;
      &:hover {
        @include box-shadow($bs-purp);
      }
    }
  
    &__links{
      &-link {
        &:hover {
          color: lighten($kuzo-purp, 5)
        }
      }
    }
  }
}

/* ************************* */
/* ***   MEDIA QUERIES   *** */
/* ************************* */
@include media-xs {
  .project-card {
    margin-top: 0.25rem;
    padding: .5rem 1rem .5rem;
    border-width: 3px;
    letter-spacing: 1px;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "img links"
      "img stack"
      "tag tag";

    &__title {
      text-align: left;
    }

    &__img-container {
      width: 85px;
      height: 83px;
      
      margin: .5rem auto 0;
      
      border-radius: 2px;
      border-width: 2px;
    }
    
    &__tagline {
      width: 92%;
      margin: .5rem auto 0;
      min-height: 2rem;
    }

    &__links {
      margin: .5rem 0 0;
      &-link {
        &-icon {
          margin: .25rem 0 0;
          font-size: .85em;
        }
        &-text {
          font-size: .5em;
        }
      }
    }

    &__stack {
      &-title {
        margin: .25rem 0 .25rem;
      }
      &-icons {
        &-icon {
          width: 1rem;
          margin: 0 5px;
          &-special {
            height: 1rem;
          }
        }
      }
    }
  }
}

@include media-sm-short {
  .project-card {
    margin-top: 0.75rem;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto auto;

    &__title {
      padding: .5rem 0;
    }

    &__img-container {
      width: 130px;
      height: 127px;
      margin: .5rem auto 0;

      border-radius: 2px;
      border-width: 2px;
    }

    &__tagline {
      width: 92%;
      margin: 1rem auto 0;
      min-height: 2.75rem;
    }

    &__links {
      margin: .5rem 0 .5rem;
      &-div {
        @include flex(column, center, space-evenly);
      }
      &-link {
        margin: .25rem 0 0;
        &-icon {
          font-size: 1.15em;
        }

        &-text {
          font-size: .75em;
        }
      }
    }

    &__stack {
      &-icons {
        &-icon {
          width: 1.25rem;
          margin: 0 5px;

          &-special {
            height: 1.25rem;
          }
        }
      }
    }
  }
}

@include media-sm {
  .project-card {
    max-width: 375px;
    margin-top: .5rem;
    padding: .75rem;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "img"
      "tag"
      "links"
      "stack";

    &__title {
      padding: .25rem 0;
    }

    &__img-container {
      width: 150px;
      height: 147px;
      margin: .75rem auto;

      border-radius: 2px;
      border-width: 2px;
    }

    &__tagline {
      margin: 0 auto .25rem;
      width: 90%;
      min-height: 3em;
    }

    &__links {
      margin: .25rem 0;

      &-div {
        width: 90%;
      }

      &-link {
        margin: .25rem 0 0;

        &-icon {
          font-size: 1.35em;
        }

        &-text {
          font-size: .75em;
        }
      }
    }

    &__stack {
      &-title {
        margin: .5rem 0 .25rem;
      }

      &-icons {
        &-icon {
          width: 1.5rem;
          margin: 3px 7px;

          &-special {
            height: 1.5rem;
          }
        }
      }
    }
  }
}

@include media-rg {
  .project-card {
    margin-top: 1rem;
    padding: 1rem;

    &__title {
      padding: .25rem 0 .5rem;
    }

    &__img-container {
      width: 200px;
      height: 196px;
      margin: .75rem auto;
  
      border-radius: 2px;
      border-width: 2px;
    }

    &__tagline {
      margin: 0 auto .5rem;
    }

    &__links {
      margin: 0;
      
      &-div {
        margin: .25rem 0;
      }

      &-link {
        margin: .25rem 0 0;

        &-icon {
          font-size: 1.5em;
        }

        &-text {
          font-size: .85em;
        }
      }
    }

    &__stack {
      // &-title {
      //   margin: .5rem 0 .25rem;
      // }

      &-icons {
        &-icon {
          width: 1.65rem;
          margin: 3px 8px;

          &-special {
            height: 1.65rem;
          }
        }
      }
    }
  }
}

@include media-md {
  .project-card {
    max-width: 450px;
    margin-top: 2rem;
    padding: 1.5rem 0;
    border-width: 4px;

    &__title {
      margin: .5rem auto .75rem;
    }

    &__img-container {
      width: 250px;
      height: 245px;
      margin: .75rem auto 0;

      border-width: 2.25px;
    }

    &__tagline {
      width: 80%;
      margin-top: 1.55rem;
      min-height: 3.1em;
    }

    &__links {
      &-div {
        margin-top: .75rem;
      }
      &-link {
        &-icon {
          font-size: 1.65em;
        }
        
        &-text {
          font-size: inherit;
          line-height: 1.25em;
        }
      }
    }
    
    &__stack {
      margin-top: .75rem;
      &-icons {
        &-icon {
          width: 1.9rem;
          margin: .5rem 9px 0;

          &-special {
            height: 1.9rem;
          }
        }
      }
    }
  }
}

@include media-lg {
  .project-card {
    max-width: 550px;
    padding: 2rem 0;
    border-width: 5px;

    &__title {
      margin: .25rem auto 0;
    }

    &__img-container {
      width: 280px;
      height: 275px;
      margin: 1.5rem auto 0;

      border-width: 2.9px;
    }

    &__tagline {
      margin-top: 1.65rem;
    }
  }
}

@include media-sm-landscape {
  .project-card {
    border-width: 3px;
    width: 80%;
    max-width: 800px;
    padding: 1rem 2rem;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "title title title"
      "links img stack"
      "tag tag tag";
      align-items: center;

    &__title {
      // font-size: .75em;
    }

    &__img-container {
      width: 150px;
      height: 147px;
      margin: 0 2rem 1rem;
      border-width: 1px;
    }

    &__tagline {
      width: 92%;
      margin: .25rem auto 0;
      min-height: 2rem;
    }

    &__links {
      margin: .25rem 0;

      &-div {
        width: 90%;
      }

      &-link {
        margin: .25rem 0 0;

        &-icon {
          font-size: 1.35em;
        }

        &-text {
          font-size: .75em;
        }
      }
    }

    &__stack {
      &-title {
        margin: .5rem 0 .25rem;
      }

      &-icons {
        &-icon {
          width: 1.5rem;
          margin: 3px 7px;

          &-special {
            height: 1.5rem;
          }
        }
      }
    }
  }
}

// @mixin media-md-landscape {}

@include media-lg-landscape {
  .project-card {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    max-width: 700px;

    grid-template-columns: auto auto;
    grid-template-areas:
        "title title"
        "img links"
        "img stack"
        "tag tag";
  
    &__img-container {
      width: 260px;
      height: 255px;
  
      margin: 1rem auto .75rem;
  
      border-radius: 2px;
      border-width: 4px;
    }
  
    &__tagline {
      width: 92%;
      margin: .75rem auto 0;
      min-height: 3em;
    }
  
    &__links {
      margin: 1.5rem 1rem 0 0;
      @include flex(column, center, center);
      &-div {
        margin: .5rem 0 0;
        width: 85%;
        @include flex(row,center,space-between);
      }
  
      &-link {
        &-icon {
          margin: 0;
          font-size: 1.75em;
        }
  
        &-text {
          font-size: 1.1em;
          line-height: 1.2em;
        }
      }
    }
  
    &__stack {
      margin: 0 1rem 1.5rem 0;
      &-title {
        margin: 0 0 .75rem;
      }
  
      &-icons {
        &-icon {
          margin: 0 7px;
        }
      }
    }
  }
}

@include media-xl {
  .project-card {
      padding: 1rem 3rem;
      max-width: 800px;
  
      &__img-container {
        width: 300px;
        height: 295px;
  
        margin: 1.5rem auto 1.25rem;
      }
  
      &__tagline {
        width: 80%;
      }
  
      &__links {
        &-link {
          &-icon {
            margin: 0;
            font-size: 2.5em;
          }
  
          &-text {
            font-size: 1.2em;
          }
        }
      }
  
      &__stack {
        &-title {
          margin: 0 0 1rem;
        }
  
        &-icons {
          &-icon {
            margin: 0 8px;
            width: 2.25rem;
          
            &-special {
              height: 2.25rem;
            }
          }
        }
      }
    }
}
