.project-card {
  width: 65%;
  max-width: 500px;

  padding: 0 2em;

  border: 4px solid black;
  border-radius: 5px;

  text-align: center;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto minmax(auto, 200px) auto;
  grid-template-areas:
    "title"
    "img"
    "text";
  transition: transform 500ms ease-in-out;
  transform: translateX(0px);
}

.project-card__title {
  grid-area: title;
  padding: .5em 0;
}

.project-card__link {
  text-decoration: none;
  color: inherit;
}

.project-card-link {
  background-color: var(--clr-accent);
}

.project-card__img-container {
  grid-area: img;
  background-color: $kuzo-sherbert;
  min-height: 300px;
  
  border-radius: 5px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  object-fit: cover;
  overflow: hidden;
  @include transition-ease;
}

.dark-mode .project-card__img-container {
  background-color: $kuzo-purp;
}

.project-card__img {
  max-width: 100%;
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.project-card-link:focus {
  position: relative;
  z-index: 2;
}

.project-card__img:hover,
.project-card-link:focus .project-card-img {
  transform: scale(1.1);
  opacity: .9;
}

.project-description {
  grid-area: text;
  padding: .75em .75em;

  font-size: smaller;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-weight: bolder;
  text-align: center;

  cursor: pointer;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.project-card__stack-icon {
  width: 1.5rem;
}