.carousel {
  width: 100%;
  @include flex(column, center, center);

  &__toggle-div {
    @include flex(row, center, center);
  }
  
  &__toggle {
    color: $kuzo-sherbert;
    background-color: $color-light;
    border-color: $kuzo-sherbert;
    border-style: solid;
    border-radius: 50%;
    
    cursor: pointer;
    
    @include flex(row, center, center);
    @include transition-ease;
  }
  
  &__toggle:hover,
  &__toggle:focus {
    transform: scale(1.1);
  }
}

/* ************************* */
/* ***   MEDIA QUERIES   *** */
/* ************************* */
@include media-xs {
  .carousel {
  
      &__toggle-div {
        margin: .75rem 0 0;
      }
  
      &__toggle {
        width: 3em;
        height: 3em;
        border-width: 3px;
  
        &-left {
          margin-right: 1rem;
        }
  
        &-right {
          margin-left: 1rem;
        }
      }
  
      &__toggle-icon {
        font-size: 1em;
      }
    }
}

@include media-sm {}

@include media-rg {}

@include media-md {}

@include media-lg {}

@include media-xl {}

/* ************************* */
/* ***     DARK MODE     *** */
/* ************************* */
.dark-mode {
  .carousel {
    &__toggle {
      color: $kuzo-purp;
      border-color: $kuzo-purp;
      background-color: $color-dark;
      
      &:hover,
      &:focus {
        color: lighter($kuzo-purp, 20%);
      }
    }
  }
}