.project-grid {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;

  @include flex(row, center, center);
  flex-wrap: wrap;
  
  &__img-container {
    grid-area: img;
    background-color: $kuzo-sherbert;
  
    width: 45%;
    max-width: 350px;
    // max-height: 150px;
    // max-width: 300px;
  
    margin: 0;
  
    @include flex(column, center, center);
  
    object-fit: cover;
    overflow: hidden;
    @include transition-ease;
  }
  
  &__img {
    width: 100%;
    transition: transform 500ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;
  }
  
  &__link {
    text-decoration: none;
    border: none;
    margin: 0;
  }
  
  &__details-div {
    @include flex(column, center, center);
    position: absolute;
    // max-width: 300px;
    // width: 100%;
    // max-height: 300px;
    // height: 100%;
  
    padding: .5rem;
    
    color: $color-light;
    background-color: rgba($kuzo-sherbert, .9);
    opacity: 0;
    @include transition-ease;
  }
  
  &__img-container:hover,
  &__img-container:focus,
  &__img-container:active {
    .project-grid__img {
        transform: scale(1.1);
        opacity: .9;
      }
    
    .project-grid__details-div {
      opacity: 1;
    }
  } 
  
  &__details-name {
    font-size: .75em;
  }
  
  &__details-stack-text {
    font-size: .5em;
    margin-top: .25rem;
  }
  
  &__details-stack-div {
    @include flex(row, center, center);
    margin-top: .34rem;
  }
  
  &__stack-icon {
    width: .75rem;
    margin: 0 5px;
  }
  
  &__special-icon {
    height: .75rem;
    background-color: $color-light;
  }
  
  &__links-div {
    width: 100%;
    margin-top: .5rem;
    @include flex(row, center, space-evenly);
    @include transition-ease;
    
    &:hover {
      transform: scale(1.1);
    }
  }
  
  &__link {
    color: $color-light;
    @include flex(column, center, center);
    font-size: .25em;
    margin: 0 5px;
  }
}

.dark-mode {
  .project-grid {
    &__img-container {
      background-color: $kuzo-purp;
    }
    
    &__details-div {
      color: $kuzo-purp;
      background-color: rgba($color-dark, .9);
    }
    
    &__links-div {
      color: $kuzo-purp;
    }
  }
}