/* ************************************ */
/* * THE BUTTON - INVISIBLE CONTAINER * */
/* ************************************ */
.toggle-btn {
  background: transparent;
  border: 0;
  border: 2px solid;
  border-color: $color-secondary;
  border-radius: 50%;
  cursor: pointer;
  width: 38px;
  height: 38px;
  overflow: hidden;
  box-shadow: $bs-black;
}

.toggle-icon {
  font-size: 23px;
  display: block;
}

.toggle-sun {
  color: $color-secondary;
  /* margin-top: 10px; */
  transition: transform 500ms ease-out;
  transform: translateY(-18.5px);
}

.toggle-moon {
  color: $color-primary;
  /* margin-bottom: 10px; */
  transition: transform 500ms ease-out;
  transform: translateY(-25px);
}

.toggle-on .toggle-btn {
  border-color: $color-primary;
}

.toggle-on .toggle-sun {
  transform: translateY(10px);
}

.toggle-on .toggle-moon {
  transform: translateY(4.5px);
}