/* ******************************* */
/* ***      VOLUME SLIDER      *** */
/* ******************************* */

input[type=range] {
  position: absolute;
  top: calc(2rem + 50px);
  left: 1rem;
  // transform: rotate(-.25turn);
  -webkit-appearance: none;
  width: 45px;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
  opacity: .5;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 45px;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 3px;
  background: $kuzo-sherbert;
  cursor: pointer;
  margin-top: -10px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  /* box-shadow: -1px 1px 0px 0px var(--pad-dark); */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 3px;
  background: $kuzo-sherbert;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 3px;
  background: $kuzo-sherbert;
  cursor: pointer;
  box-shadow: 1px 1px 0px 0px $color-dark;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 45px;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $kuzo-sherbert;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $kuzo-sherbert;
}

input[type=range]::-moz-range-track {
  width: 45px;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $kuzo-sherbert;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 45px;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $kuzo-sherbert;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: $kuzo-sherbert;
}

input[type=range]::-ms-fill-upper {
  background: $kuzo-sherbert;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: $kuzo-sherbert;
}

.dark-mode {
  input[type=range]::-webkit-slider-thumb {
      background: $kuzo-purp;
  }
  input[type=range]::-moz-range-thumb {
    background: $kuzo-purp
  }
  input[type=range]::-ms-thumb {
    background: $kuzo-purp
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: $kuzo-purp
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $kuzo-purp
  }
  input[type=range]::-moz-range-track {
    background: $kuzo-purp
  }
  input[type=range]::-ms-fill-lower {
    background: $kuzo-purp
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $kuzo-purp
  }
  input[type=range]::-ms-fill-upper {
    background: $kuzo-purp
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $kuzo-purp
  }
}