@import 'config';
@import 'globals';
@import 'header';
@import 'footer';
@import 'page-home';
@import 'page-portfolio';
@import 'project-carousel';
@import 'project-card';
@import 'project-grid';
@import 'page-about';
@import 'page-contact';
@import 'volume-slider';
@import 'particles';
@import 'where-art-thou';

html {
  scroll-behavior: smooth;
}

body {
  color: $kuzo-sherbert;
  background: $color-light;
  font-family: 'Orbitron', 'Inter', Veranda, monospace, sans-serif;
  letter-spacing: .75px;
  line-height: 1;
}

.dark-mode {
  color: $kuzo-purp;
  background: $color-dark;
}

a {
  color: $kuzo-sherbert;
  text-decoration: none;
  cursor: pointer;
}

.dark-mode a {
  color: $kuzo-purp;
}


.app {
}