@import 'config';
@import 'globals';
@import 'header';
@import 'footer';
@import 'page-home';
@import 'page-portfolio';
@import 'project-carousel';
@import 'project-card';
@import 'project-grid';
@import 'page-about';
@import 'page-contact';
@import 'volume-slider';
@import 'particles';
@import 'where-art-thou';

html {
  scroll-behavior: smooth;
}

body {
  color: $kuzo-sherbert;
  background: $color-light;
  font-family: 'Orbitron', 'Inter', Veranda, monospace, sans-serif;
  letter-spacing: .75px;
  line-height: 1;

}

.dark-mode {
  color: $kuzo-purp;
  background: $color-dark;
}

a {
  color: $kuzo-sherbert;
  text-decoration: none;
  cursor: pointer;
  @include transition-ease;
}

.dark-mode a {
  color: $kuzo-purp;
}


.app {
  // border-right: 5px solid;
  // border-bottom: 5px solid;
  // border-color: $kuzo-sherbert;
  // min-height: 100vh;

  @include transition-ease;
}

.dark-mode .app {
  border-color: $kuzo-purp;
}

// .mouse {
//   width: 50px;
//   height: 50px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: #00000060;
//   border-radius: 50%;
//   pointer-events: none;
//   z-index: 1000;
// }

// .dark-mode .mouse {
//   background-color: #ffffff60;
// }